.fg-line.has-error > .fg-label {
	color: red
}

.user-name {
	padding-right: 10px;
	max-width: 100px;
	overflow: hidden;
}

.hide-alert {
	display: none;
}

.c-header h2 {
	font-size: 25px;
}

.btn-default[title='Refresh'] {
	display: none;
}

.checkbox-component {
	position: relative;	
}

.checkbox.col-sm-12 {
	padding-left: 0px;
	margin-top: 0px;
}

.checkbox.col-sm-12 .first {
	margin-top: -5px;
}
