.fg-line.has-error > .fg-label {
	color: red
}

.user-name {
	padding-right: 10px;
	max-width: 100px;
	overflow: hidden;
}

.bootstrap-select > .btn-default {
    background: none !important;
    border-bottom: 0px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
	padding-bottom: 4px;
}